.sheet-container {
  width: 80%;

  .staff-container {
    ol {
      li {
        height: 8px;
        padding: 0;
        width: 100%;

        hr {
          position: relative;
          top: 3px;
          padding: 0;
          margin: 0;
        }
      }

      li:hover {
        background-color: #ccc;
      }

      li:nth-child(odd) {
      }
    }


  }

}
